<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet>
        <servlet-name>xss</servlet-name>
        <servlet-class>com.baidu.rasp.Body_Xss</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>xss</servlet-name>
        <url-pattern>/xss</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>command</servlet-name>
        <servlet-class>com.baidu.rasp.Command</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>command</servlet-name>
        <url-pattern>/command</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>commandEcho</servlet-name>
        <servlet-class>com.baidu.rasp.CommandEcho</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>commandEcho</servlet-name>
        <url-pattern>/commandEcho</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>deserialization</servlet-name>
        <servlet-class>com.baidu.rasp.Deserialization</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>deserialization</servlet-name>
        <url-pattern>/deserialization</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>directory1</servlet-name>
        <servlet-class>com.baidu.rasp.Directory1</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>directory1</servlet-name>
        <url-pattern>/directory1</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>directory2</servlet-name>
        <servlet-class>com.baidu.rasp.Directory2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>directory2</servlet-name>
        <url-pattern>/directory2</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>fileUpload</servlet-name>
        <servlet-class>com.baidu.rasp.FileUpload</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>fileUpload</servlet-name>
        <url-pattern>/fileUpload</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>httpClient</servlet-name>
        <servlet-class>com.baidu.rasp.HttpClient</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>httpClient</servlet-name>
        <url-pattern>/httpClient</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>commonClient</servlet-name>
        <servlet-class>com.baidu.rasp.HttpCommonClient</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>commonClient</servlet-name>
        <url-pattern>/commonClient</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>urlConnection</servlet-name>
        <servlet-class>com.baidu.rasp.HttpURLConnection</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>urlConnection</servlet-name>
        <url-pattern>/urlConnection</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>mysql</servlet-name>
        <servlet-class>com.baidu.rasp.Mysql</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>mysql</servlet-name>
        <url-pattern>/mysql</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>mysqlPrepared</servlet-name>
        <servlet-class>com.baidu.rasp.MysqlPrepared</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>mysqlPrepared</servlet-name>
        <url-pattern>/mysqlPrepared</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ognl</servlet-name>
        <servlet-class>com.baidu.rasp.Ognl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ognl</servlet-name>
        <url-pattern>/ognl</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>okHttp</servlet-name>
        <servlet-class>com.baidu.rasp.OkHttp</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>okHttp</servlet-name>
        <url-pattern>/okHttp</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>okHttp3</servlet-name>
        <servlet-class>com.baidu.rasp.OkHttp3</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>okHttp3</servlet-name>
        <url-pattern>/okHttp3</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>readFile</servlet-name>
        <servlet-class>com.baidu.rasp.ReadFile</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>readFile</servlet-name>
        <url-pattern>/readFile</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>writeFile</servlet-name>
        <servlet-class>com.baidu.rasp.WriteFile</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>writeFile</servlet-name>
        <url-pattern>/writeFile</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>sqlException</servlet-name>
        <servlet-class>com.baidu.rasp.SqlException</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>sqlException</servlet-name>
        <url-pattern>/sqlException</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>sqlAccess</servlet-name>
        <servlet-class>com.baidu.rasp.SqlAccess</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>sqlAccess</servlet-name>
        <url-pattern>/sqlAccess</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>xxeDom</servlet-name>
        <servlet-class>com.baidu.rasp.Xxe_dom</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>xxeDom</servlet-name>
        <url-pattern>/xxeDom</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>xxeDom4j</servlet-name>
        <servlet-class>com.baidu.rasp.Xxe_dom4j</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>xxeDom4j</servlet-name>
        <url-pattern>/xxeDom4j</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>xxeJdom</servlet-name>
        <servlet-class>com.baidu.rasp.Xxe_jdom</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>xxeJdom</servlet-name>
        <url-pattern>/xxeJdom</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>xxeSax</servlet-name>
        <servlet-class>com.baidu.rasp.Xxe_sax</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>xxeSax</servlet-name>
        <url-pattern>/xxeSax</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>xxeStax</servlet-name>
        <servlet-class>com.baidu.rasp.Xxe_stax</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>xxeStax</servlet-name>
        <url-pattern>/xxeStax</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>log</servlet-name>
        <servlet-class>com.baidu.rasp.Log</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>log</servlet-name>
        <url-pattern>/log</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>multipart</servlet-name>
        <servlet-class>com.baidu.rasp.Multipart_mysql</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>multipart</servlet-name>
        <url-pattern>/multipart</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>sqlPolicy</servlet-name>
        <servlet-class>com.baidu.rasp.SqlPolicy</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>sqlPolicy</servlet-name>
        <url-pattern>/sqlPolicy</url-pattern>
    </servlet-mapping>
</web-app>